<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}

    <script src="javascripts/main.js"></script>
    <script src="javascripts/fontawesome-all.min.js"></script>
  </body>
</html>
